/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: purple;
}

body {
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.itl-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: purple;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px purple;
    transform: scale(1.05);
}

/* Estilo do cabeçalho */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: purple;
}

.topo-do-site .txt-topo-site p {
    color: white;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px purple;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: white;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color:purple;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.itl-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: purple;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: 2s;
}

/* ESTILO DO PORTIFÓLIO */
section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10 px purple;
}

section.portifolio .flex {
    gap: 30px;
    margin-top: 60px;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 70% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.img-port1 {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 10% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port1:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: white;
    opacity: 0%;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* estilo do formulário de contato */
section.formulario {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px purple;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 15px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: purple;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: 2s;
}

/* ESTILO DO RODAPÉ */
footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px purple;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid purple;
}

footer .line-footer p i {
    color: purple;
    font-size: 22px;
}

footer .line-footer p a {
    color: white;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .itl-contato {
        display: none;
    }

    /* TOPO DO SITE */
    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* estilo das especialidades */
    section.especialidades {
        padding: 40px 8%;
    }

    /* ESTILO DO SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .itl-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }

    /* PORTIFÓLIO */
    section.portifolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex {
        gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}